


<form ng-submit="newCtrl.save(newForm)" name="newForm" novalidate>
	

				<p><label>nom : <input name="name" type="text" ng-model="ctrl.game.name" ><span class="error" ng-show="game.newForm.$invalid && newForm.$dirty"></label></p>
				<p><label>email : <input name="email" type="email" ng-model="ctrl.game.user1.email"></label></p>
				<p><label>pseudo : <input name="pseudo" ng-minlength="5" ng-model="ctrl.game.user1.pseudo"></label></p> <!--  à effacer -->
				<p><label>champ de baston : <input required name="width" type="number" min="5" max="10" ng-model="ctrl.game.battlefieldSize.width" >
				<input required name="height" type="number" min="5" max="10" ng-model="ctrl.game.battlefieldSize.height" ></label></p>
				<select required name="fleetSize" ng-model="ctrl.game.fleetSizeValues" ng-options="s.value as s.label for s in ctrl.GameServise.valuesofselect" >
				</select>
				<div class="validation">
                    <input type="submit" value="créer la partie" ng-disabled="newForm.$invalid">
                </div>
				<pre>{{ctrl.games | json }}</pre>

	
</form>

